{% extends 'base.html' %}
{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#profiles').DataTable();
        });
    </script>
{% endblock %}


{% block body %}
<h1>Ecosystems</h1>
<div class="row">
    <div class="col-md-5">
        <ul>
            {% for ecosystem in ecosystems %}
            <li><a href="{{ecosystem}}">{{ecosystem}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <form id="github" action="" method="POST" class="form-inline">
            <div class="form-group mb-2">
                <label for="githubOrgName" class="sr-only">GitHub organization</label>
                <input name="name" type="text" class="form-control" id="githubOrgName" placeholder="GitHub organization or user name">
            </div>
            <button type="submit" class="btn btn-success mb-2" id="submitSearch">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
