{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>YAGA Data</title>
        <meta name="description" content="Yet Another Git/GitHub/GitLab Analyzer for software development data enthusiasts">
        <meta name="keywords" content="git, github, gitlab, analytics">
        <meta name="author" content="J. Manrique Lopez de la Fuente <jsmanrique@bitergia.com>">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block page_header %}{% endblock %}
    </head>    
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <abbr title="Yet Another">YA</abbr>
            <img src="{% static '/img/git-logo.png' %}" style="width: 30px; height:30px;" class="d-inline-block align-top" alt="Git">
            Analyzer</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarYagaMenu" aria-controls="navbarYagaMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarYagaMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Scope</a></li>
                <li class="nav-item"><a class="nav-link" href="/data">Data</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">People</a></li>
            </ul>
        </div>
        
    </nav>
<div class="container-fluid">

{% block page_content %}{% endblock %}

</div>

<!-- JS Scripts -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script
	src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{%block additional_js %}{% endblock %}
</body>
</html>