{% extends "scope_base.html" %}
{% block scope_content %}
<ul class="list-group">
    {% for project in projects %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/{{project.id}}/">{{project.name}}</a>
        <a class="btn btn-danger btn-sm" href="remove/{{project.id}}">Remove</a>
    </li>
    {% endfor %}
</ul>
<p><button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#addProjectModal">Add Project &raquo;</button>
</p>
{% endblock %}

{% block modals_block %}
<!-- MODALS -->
<!-- Project-->
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" 
aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="addProjectModalLabel">Add new project</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" class="project-form">{% csrf_token %}
                {{ pform.non_field_errors }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ pform.name.errors }}
                        <label for="{{pform.name.id_for_label}}">Name</label>
                        {{ pform.name }}
                        <!--
                        <input id="projectNameField" class="form-control" type="text"
                        aria-describedby="projectNameFieldHelp" placeholder="Enter project name">
                        -->
                        <small id="projectNameFieldHelp" class="form-text text-muted">
                            Give a name to the set of data sources you want to analyze.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}