{% extends "scope_base.html" %}
{% block scope_content %}
<p><a href="/">Projects</a> <span class="text-muted">/</span> {{project.name}}</p>
<div class="row">
    <div class="col-12">
        <p>Git Repos <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSourceModal">Add
                Data Source
                &raquo;</button></p>
        <ul class="list-group" style="max-height:650px; overflow-y:scroll;">
            {% for repo in grepos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{repo.url}}" target="_blank">{{repo.url}}</a>
                <a class="btn btn-danger btn-sm" href="remove/repo/{{repo.id}}">Remove</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block modals_block %}
<!-- MODALS -->
<!-- Project-->
<div class="modal fade" id="addSourceModal" tabindex="-1" role="dialog" aria-labelledby="addSourceLabel"
    aria-hidden="true">
    <div class="modal-dialog moldal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="addSourceLabel">Add new data source</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <button type="button" class="btn btn-lg btn-outline-dark close-modal" data-toggle="modal"
                            data-target="#addGRepo">Git Repository</button>
                    </div>
                    <div class="col-12 col-sm-4">
                        <button type="button" class="btn btn-lg btn-outline-dark close-modal" data-toggle="modal"
                            data-target="#addGHorg">GitHub Organization</button>
                    </div>
                    <div class="col-12 col-sm-4">
                        <button type="button" class="btn btn-lg btn-outline-dark close-modal" data-toggle="modal"
                            data-target="#addGitLab">GitLab Set</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addGRepo" tabindex="-1" role="dialog" aria-labelledby="addGRepoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="addGRepoLabel">Add new Git repository</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="add/repo/" class="project-form">{% csrf_token %}
                {{ grepoform.non_field_errors }}
                <div class="modal-body">
                    {{ grepoform.url.errors }}
                    <label for="{{grepoform.url.id_for_label}}">URL</label>
                    {{ grepoform.url }}
                    <small id="repoURLFieldHelp" class="form-text text-muted">
                        We use the http or https repository's URL, not the `git://...` address.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addGHorg" tabindex="-1" role="dialog" aria-labelledby="addGHOrgLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="addGHOrg">Add new GitHub organization</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="add/ghorg/" class="project-form">{% csrf_token %}
                {{ ghorgform.non_field_errors }}
                <div class="modal-body">
                    {{ ghorgform.name.errors }}
                    <label for="{{ghorgform.name.id_for_label}}">Name</label>
                    {{ ghorgform.name }}
                    <small id="ghorgNameHelp" class="form-text text-muted">
                        Just the name of the GitHub organization you want to track.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addGitLab" tabindex="-1" role="dialog" aria-labelledby="addGitLabLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="addGitLabLabel">Add new GitHub organization</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="add/gitlab/" class="project-form">{% csrf_token %}
                {{ gitlabform.non_field_errors }}
                <div class="modal-body">
                    {{ gitlabform.name.errors }}
                    <label for="{{gitlabform.name.id_for_label}}">Name</label>
                    {{ gitlabform.name }}
                    <small id="gitlabNameHelp" class="form-text text-muted">
                        Just the name of the GitHub organization you want to track.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    $('.close-modal', '#addSourceModal').click(function () {
        $('#addSourceModal').modal('hide');
    });
</script>
{% endblock %}