{% extends "base.html"%}

{% block page_content %}
<div class="row mt-3">
    <div class="col-12 col-md-7">
        {% block scope_content %}
        {% endblock %}
    </div>
    <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-header">
                <h2>About &amp; Help</h2>
            </div>
            <div class="card-body">
                Lorem ipsum ...
            </div>
        </div>
    </div>
</div>

{% block modals_block %}{% endblock %}

{% endblock %}