{% extends "base.html" %}

{% block page_header %}
<!-- Bokeh JS -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js" crossorigin="anonymous"></script>
{{ script | safe }}
{% endblock %}

{% block page_content %}

<div class="row mt-3">
    <div class="col-4 col-md-2">
        <p><span class="h1">Data</span><a class="btn btn-primary" href="/update">Update</a>
    </div>
    <div class="col-8 col-md-10">
        <div class="btn-group btn-group-sm">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownProjectsButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownProjectsButton">
                    {% if projects.count > 0 %}
                    {% for project in projects %}
                    <a class="dropdown-item" href="?pid={{project.id}}">{{project.name}}</a>
                    {% endfor %}
                    {% else %}
                    <a class="dropdown-item" href="?pid={{project.id}}">{{project.name}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownReposButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Repositories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownReposButton">
                    {% if repositories.count > 0 %}
                    {% for repo in repositories %}
                    <a class="dropdown-item" href="?rid={{repo.id}}">{{repo.url}}</a>
                    {% endfor %}
                    {% else %}
                    <a class="dropdown-item" href="?rid={{repo.id}}">{{repo.url}}</a>
                    {% endif %}
                </div>
            </div>
            <a class="btn btn-success" href="/graphql" target="_blank">GraphQL Endpoint &raquo;</a>
        </div>
    </div>
</div>
<div class="row">
    <!-- Chart -->
    <div class="col-lg-12">
        {{ div | safe }}
    </div>
</div>
{% endblock %}